.home-banner-carousel {
  padding-top: 140px;
  padding-bottom: 40px;
  background: no-repeat;
  background-size: cover;
}

.pt-140 {
  padding-top: 140px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-30 {
  padding-top: 30px;
}

.py-280 {
  padding-top: 320px !important;
  padding-bottom: 30px;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-5 {
  padding-bottom: 5rem;
}
.video-full-width-block iframe {
  width: 100%;
  height: 545px;
}

.video-full-width-block {
  margin-top: 40px;
}

header {
  z-index: 2;
}

.meet-our-ceo img {
  height: auto;
}

.container.page-inner-boxed-img .sl-text {
  margin-top: 24px !important;
}

.block-resource-section {
  padding-top: 350px;
}

.art-section:last-of-type {
  padding-bottom: 0;
}

.feat-img-w100 img {
  width: 100% !important;
}

.leadership-simple-img img {
  height: auto;
}

.footer-sidebar .right-sidebar {
  margin-top: -20px !important;
}

.text-17 p {
  font-size: 17px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
  padding-bottom: 20px;
}

.text-14 {
  font-size: 14px;
  font-family: 'GothamMedium';
}

.text-16 {
  font-size: 16px;
}

.text-70{
  font-size: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.procurement-page .right-sidebar.push-top-lg {
  margin-top: -372px;
}

.advocacy-tag {
  text-transform: capitalize;
}

.meet-our-ceo h2 {
  font-size: 34px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.our-structure-page .our-team h5 {
  text-decoration: underline;
  width: 80%;
  font-size: 18px;
  line-height: 1.2;
  font-family: 'gothamBold';
}

.our-structure-page .page-single-content .mobile-space h4 {
  font-size: 24px;
}

.performing-arts .header-content {
  padding-top: 120px;
}

.performing-arts h4 {
  font-size: 22px;
  margin-bottom: 30px;
}

.placement-news {
  font-size: 24px;
}

.our-structure h6 {
  font-size: 18px;
  font-family: 'GothamMedium';
}

.investment-page .placement-news h4 {
  font-size: 22px;
}

.investment-page h4 {
  font-size: 22px;
}

.research-page .header-content {
  padding-top: 120px;
  min-height: 300px;
}

.basic-page .header-content {
  padding-top: 150px;
  min-height: 250px;
}

.performing-arts {
  .advocacy-tag {
    display: none;
  }

  .box-date {
    display: none;
  }
}

.biennale-page h4 {
  font-size: 24px;
}

.footer-wrapper-acknowledgement{
  padding-top: 30px;
  padding-bottom:30px;
  min-height: 100vh;
}

.contact-section .push-top-md {
  margin-top: 0;
}

.facilitator-content .highlight-box h3{
  position: absolute;
  bottom: 60px;
}

.block-facilitator-section{
  .facilitator-content .highlight-box h3{
    position: absolute;
    bottom: 26px;
  }
}

.archive-page-template .header-content {
  padding-top: 150px;
  min-height: 250px;
}

.posts-list.loading-jm {
  opacity: 0.1;
}

.page-single-content p a{
  text-decoration: underline;
}

.our-team p a{
  text-decoration: none;
}

.annual-report a{
  text-decoration: none!important;
}

.card button {
  line-height: 1.3;
}

.btn-login {
  font-size: 16px;
  background: #fff;
  border: 2px solid #000;
  position: relative;
  top: -8px;
  font-family: 'GothamMedium';
  padding: 10px 15px;
  color: #000;
}

.loadBox, .newsBox {
  display:none;
}

.postid-11409 #loadMore {
  display: none !important;
}

.btn-login:hover {
  background: rgb(218, 218, 218);
}

.covid-audiance-section {
  min-height: 720px;
}

.acfta-mega-menu-container {
  padding: 40px 20px !important;
}

.search-page .header-content {
  padding-top: 320px;
  min-height: 420px;
}

.accordion .card a {
  text-decoration: underline;
}
.document-box{
  min-height: 300px!important;
}

.no-banner .header-content {
  min-height: 330px;
  padding-top: 100px;
}
/*** Mega Menu ***/
.single-col-menu {
  .megamenu-inner {
    width: 100%;
    max-width: 400px;
  }
}

body .header-nav {
  li {
    .megamenu-inner {
      box-shadow: none;
    }
  }
}

.list-inline {
  position: relative;
}

.has_second_lc {
  ul {
    width: 0;
    display: none;
    transition: width 2s;
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    right: -173px;
    top: -10px;
    list-style: none;
    background: #fff;
    max-width: 200px;
  }

  &:hover {
    ul {
      width: 100%;
      display: block;
    }
  }

  &.sec_norm {
    ul {
      right: -60px;
    }

  }

}


body .header-nav.single-col-class {
  .nav-overlay {
    box-shadow: #5f5f5f 0px 5px 14px -4px;
    width: 400px !important;
  }

  li .megamenu-inner {
    right: -55px;
  }
}

.widgetizedArea {
  ul {
    padding-left: 0;
    list-style: none
  }
}

/** SEARCH AND FILTER **/


.loading-pagination {
  margin: 30px auto;
  max-width: 400px;
  width: 100%;
  text-align: center;

  a {
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    margin: auto;
  }

  #loading {
    padding: 20px;
  }
}

.no-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin: auto;
}

.list-main-container {
  &.loading-jm {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;

    .loading-icon {
      background-image: url('images/loading.gif');
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      z-index: 2;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: 100px;
    }

    [data-output] {
      opacity: 0.1;
    }
  }
}

.img-text-slider-section {
  padding-top: 80px;
}

@media screen and (min-width: 1441px) {
  .event-box.md .event-meta {
    font-size: 20px;
  }
  .research-template-default{
    #acfta-mega-menu-row{
      top:100px!important;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .document-box{
    min-height: 225px;
    
    .doc-img{
      width: 80px;
    }
  }
  
}

@media screen and (min-width: 991px) and (max-width: 1150px) {
  .padding-lg{
    padding-top: 3rem !important;
  }

  .lead{
    width: 60%;
  }
}


@media screen and (min-width: 991px) {
  .sub-menu {
    li {
      border-bottom: 1px solid #000;
    }
  }
  .text-14 {
    .breadcrumb-item {
      font-size: 18px;

      a {
        font-size: 18px;
      }
    }
  }

  .block-content-without-sidebar iframe {
    width: 100%;
    height: 420px;
  }
}

@media screen and (max-width: 991px) {
  .our-ceo-v2 .block-page-banner-v2 {
    background-image: none !important;
    background-color: #fff !important;
  }

  .btn-more-info{
    font-size: 12px;
    padding: 12px 10px!important;

    span.icon-plus-light{
      position: absolute;
      right: 20px;
      
    }
  }

  .full-width-content iframe{
    width: 100%;
    height:450px;
  }

  .btn-partner-area .btn-partner {
    padding: 10px 6px!important;
    font-size: 16px;
  }

  .contact-frm-salesforce, .contact-frm-salesforce-btn{
    padding-right: 0!important;
  }

  .document-info{
    h4{
      font-size: 18px!important;
    }
  }
  
  .placement-aside-lg{
    margin-top: 5rem;
  }

  .footer-sidebar{
    .research-img-area img{
      width: 100% !important;
    }
  }

}

@media screen and (max-width: 1240px) {
  .megamenu.double-col-menu {
    .megamenu-inner {
      .sub-menu {
        left: 30%;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .nav-container {
    margin-top: 40px !important;
  }
  
}

@media screen and (max-width: 1380px) {
  .header-top .logo img {
    height: auto;
  }

  img {
    height: auto;
  }
}

@media screen and (max-width: 1199px) {
  .img-text-slider-section {
    padding-top: 0px !important;
  }
  .footer-mt-150 {
    margin-top: 150px;
  }
  
  .info-box{
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .container.page-inner-boxed-img .sl-text {
    padding: 0 !important
  }

  .container.page-inner-boxed-img .fsm-top {
    padding: 28px 45px 10px;
  }

  .footer-mt-150 {
    margin-top: 40px;
  }

  .block-resource-section {
    padding-top: 190px;
  }

  .loading-pagination {
    margin: 0;
  }
  .mobile-space2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .video-full-width-block iframe {
    height: 250px;
  }
  .btn-sm {
    width: auto;
  }

  .research-single-post .header-content {
    position: inherit;
  }
  .performing-arts {
    .header-content {
      padding-top: 50px;
    }

    h1 {
      margin-bottom: 15px;
    }
  }
  .our-ceo-v2 .header-content {
    padding-top: 80px;
    min-height: 250px;
    padding-bottom: 67px;
  }
  .our-ceo .py-80.block-related-search-slider {
    padding: 0 0 60px;
  }

  .our-structure-content-bottom {
    padding-bottom: 25px;
  }

  .block-content-without-sidebar iframe {
    height: auto;
    width: 100%;
  }
  
  .podcast-info{
    h3{
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 320px) {
  .document-info h4 {
    font-size: 16px !important;
  }

  .document-box {
    min-height: 190px !important;
    .doc-img {
      width: 70px;
    }
  }
}

/**
Loader
***/
.button_loader {
  background-color: transparent;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #969696;
  border-bottom: 8px solid #969696;
  width: 55px;
  height: 55px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
}

.loader-area {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.home .page-content > section.mt-5:first-child{
  margin-top: 0 !important;
}
.page-single-content figure img{
  object-fit: cover;
  object-position: center;
}
body.investment-page{
  .header-content{
    > .container{
      > .row{
        align-items: center;
      }
    }
  }
}
.posts-navigation{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  > h2.screen-reader-text{
    display: none;
  }
  .nav-links{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    a{
      border-radius: 0;
      color: var(--primary-color);
      line-height: 1;
      border: 1px solid #343a40;
      font-size: 18px;
      letter-spacing: -0.8px;
      display: inline-flex;
      padding: 20px 25px;

      &:hover{
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
      }
    }
  }
}
.widgetizedArea{
  .menu{
    > li{
      margin-bottom: 8px;
      > a{
        line-height: 1.126;
        display: inline-block;
      }
    }
  }
}
.wrapper-inner{
  background-color: #fff;
  position: relative;
  z-index: 5;
}
.footer-wrapper-acknowledgement{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  z-index: -1;
}
.footer-wrapper-acknowledgement ~ .footer-wrapper-acknowledgement{
  opacity: 0;
  visibility: hidden;
  position: static;

}
#accordionContent {
  .card-body{
    ul{
      >li{
        &::marker{
          content: "";
        }
      }
    }
  }
}
body.home {
  .page-content{
    .img-text-slider-section{
      padding-top: 30px;
    }
  }
}
@media screen and (max-width: 767px){
  .covid-audiance-section{
    padding-bottom: 15px;
  }
  #home-carousel-block_60ad2578e5202{
    padding-bottom: 0;
  }
  #content-feed-2-column-block_60ad42a80d75f{
    padding-bottom: 0;
  }

  div#faciliatorInfo iframe{
    width: 100%;
  }
  
  .breadcrumb{
    overflow-x: scroll;
    position: relative;
    left: -32px;
  }

  .breadcrumb-item a, .breadcrumb-item{
    font-size: 14px;
  }

  .btn-more-info{
    font-size: 16px!important;
    padding: 14px 16px!important;

    span.icon-plus-light{
      position: absolute;
      right: 26px;
    }
  }

  .page-single-content .btn{
    font-size: 16px;
  }

  .content-list-squared ul li::marker {
    font-size: 20px;
  }
  .web-to-case-form .row{
    display: block;
  }

  .full-width-content iframe{
    width: 100%;
    height:220px;
  }

  .document-box {
    min-height: 220px !important;
    .doc-img{
      width: 104px;
    }
   }
   .search-mobile-space{
     padding:0 30px 30px 30px;
     input{
       width: 100%;
     }
     span{
       display: block;
     }
   }

   .covid-audiance-section{
     min-height: fit-content;
   }
}

@media screen and (max-width: 575px){
  .home .au-cauncil-section{
    padding-left: 30px;
    padding-right: 30px;

  }
}

#acknowlegement-of-country-wrapper {
  background-color: #000;
}

#acfta-mega-menu-row {
  margin-top: 0 !important;
  top: 55px;
  position: relative;
}

#search-wrapper {
  background-color: #000;

  input[type="search"] {
    border: 0;
    margin-bottom: 0;
  }

  input[type="submit"] {
    display: inline-block;
    border: 0;
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 1;
  }

  .search-popup-wrap {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  .search-popup-wrap::after {
    content: "\e900";
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-size: 42px;
    color: #FFF;
    position: absolute;
    right: 0;
  }

  .close {
    transform: scale(1);
  }

  .modal-body {
    margin-top: 86px;
  }

  .modal-dialog {
    top: 50%;
    margin-top: -290px;

    @include respond-to("md") {
      margin-top: 0;
      top: 0;
    }
  }
}

.color-white {
  color: #FFF;
}

#acknowlegement-of-country-wrapper {
  @include respond-to("xs") {
    overflow-y: auto;
  }

  .modal-dialog {
    @include respond-to("sm") {
      margin: 0 auto !important;
      top: 10%;
    }
  }

  h4 {
    margin-bottom: 30px;
  }

  @include respond-to("sm") {
    p {
      font-size: 16px;
      line-height: 22px;
    }

    h4 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .mobile-space {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include respond-to("xs") {
    p {
      line-height: 20px;
    }
  }
}

.footer-wrapper-acknowledgement {
  h4 {
    margin-bottom: 30px;
  }

  @include respond-to("md") {
    p {
      font-size: 16px;
      line-height: 22px;
    }

    h4 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .mobile-space {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include respond-to("xs") {
    p {
      line-height: 20px;
    }
  }
}

.js-no-slider {
  .slick-track {
    @include respond-to("min-sm") {
      margin-left: 0;
    }
  }

  .slick-dots {
    @include respond-to("min-sm") {
      display: none;
    }
  }

  &.js-no-scroll {
    .slick-track {
      margin-left: 0;
    }

    .slick-dots {
      display: none;
    }
  }
}

.no-results {
  padding-top: 180px;
  padding-bottom: 150px;

  .search-form {
    display: flex;
    align-items: center;
  }

  .search-submit {
    height: 64px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;

    @include respond-to("sm") {
      margin-top: -24px;
      margin-bottom: 0;
      height: 54px;
    }
  }
}

.peer-access-section {
  .page-single-content {
    a[href=""] {
      text-decoration: underline;
    }
  }
}

.block-search-posts-cards .lead {
  text-align: center;
}

.w250_h130 {
  max-width: 320px;
  max-height: 130px;
}

.filter-research-dropdown{
  button.multiselect{
      border: 1px solid #979797;
      font-family: inherit;
      font-size: 18px;
      letter-spacing: normal; 
      appearance: none;
      background-image: url(images/bottom.svg);
      background-repeat: no-repeat;
      background-position: 97% 44%;
      padding-right: 40px;
      max-width: 100%;
      padding-left: 20px;
      text-align: left;
      padding-top: 22px;
      padding-bottom: 21px;
      overflow: hidden;

      span.multiselect-selected-text {
        width: 100%;
        overflow: hidden;
        display: inline-block;
      }
    }
    .multiselect-container{
      width: 100%;
      a{
        display: flex;

        input{
          margin: 4px 8px;
          width: 20px;
          height: 20px;
        }

        label{
          padding:0;
        }
      }
      li{
        padding: 14px 6px;
      }
    }
    .btn-group{
      max-width: 100%;
      width: 100%;
    }
    .dropdown-toggle::after{
      display: none;
    }
    label{
      padding-top:1em;
    }
  &.filter-resources-dropdown {
    button.multiselect{
      max-width: 100%;
    }
  }
}
.placeholder__img {
  display: flex;
  margin-bottom: 30px;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
  }
}

.block-block-content-columns a {
  text-decoration: underline;
}

.addtoany_shortcode{
  float:right;
  }

  .art-section .highlight-box h3 {
    position: absolute;
    bottom: 60px;
    padding: 0px 16px;
}

.block-related-search-slider img {
  object-fit: cover;
  min-height: 250px;
}

.faciliator-modal .modal-dialog .modal-content .facil-img-2{
  height: auto;
  object-fit: cover;
}

.page-content-area img{
	height: auto;
}

.topics-search  {
  span{
    text-align: left;
    font-family: 'GothamMedium';
    color: #495057;
  }
  .search-input-btn{
    background-color: #000!important;
    position: relative;
    padding: 24px 45px;
    font-size: 24px;
    right: 0;
    transform: none;
  }
}

.gform_wrapper .gform_validation_errors .gform_submission_error {
  letter-spacing: 0px;
}

.gform_wrapper .gfield_validation_message, .gform_wrapper .validation_message {
  padding: 0 0 0 10px !important;
    margin-top: 0;
    border: 0;
}

a.addtoany_share img,
.addtoany_list a img {
  width: 44px !important;
}

.min-h-136 {
  min-height: 136px;
}

.ackn-close-btn{
 opacity: 1;
}

a.btn {
    text-decoration: none!important;
}
.text-white p{
  color:#fff;
}

.placement-aside{
  padding-bottom: 0;
  p{
    a{
      text-decoration: underline;
      word-break: break-all;
    }
  }
}

.image-content-slider--panel {
  .slick-dots{
    justify-content: flex-center;
    padding-top: 30px;
  }

  .slick-dots > li{
    height: 4px;
  }

  .slick-dots > li > button{
    width: 39px;
    height: 4px;
    border-radius: 0;
    border: none;
    background-color: #000;
    opacity: 0.2;
  }

  .slick-dots > li.slick-active > button{
    opacity: 1;
  }
}

blockquote {
  padding: 20px;
  position: relative;
  background-color: #f1f1f1;

  &::before {
    color: #ccc;
    content: url(images/quote-5.svg);
    font-size: 1.2em;
    position: absolute;
  }
  
  > * {
    padding-left: 50px;
    margin-bottom: 0;
  }
}

.post-entry a {
  text-decoration: underline;
}

.img-text-box {
  .sl-text {
    .more-link{
      padding: 15px 30px;
      border: 1px solid #fff;
    }
    .more-link:hover{
      border: 1px solid var(--border-color);
    }
  }
}

.breadcrumb li:nth-child(2)::before {
  border: none;
}

.text-carousel .slick-dots {
  display: flex!important;
}


.form-submit-right {
  form .gform_footer {
    text-align: right !important;
  }
}

.form-submit-center {
  form .gform_footer {
    text-align: center !important;
  }
}

.event-box .event-info .meta span {
  font-family: 'GothamMedium';
  font-size: 20px;
}

.open-soon-style, .close-soon-style {
  border-radius: 3px;
  height: 31px;
  line-height: 31px;
  font-size: 12px;
  color: #fff;
  padding: 0 12px;
  font-family: 'gothamBold';
  margin-bottom: 12px;
}

.open-style {
  background-color: #5E7829;
}

.open-soon-style {
  background-color: #003366;
}

.close-soon-style {
  background-color: #C76921;
}

.closed-style, .open-style {
  letter-spacing: normal;
}

.page-single-content {
    iframe{
      width: 100%;
    }
}

.podcast-button{
  position: relative;
  top: 12px;
  padding-right:14px;
}

.max-width-4 .multiselect {
  @include respond-to("min-lg") {
    max-width: 283px !important;
  }
}

.max-width-3 .multiselect {
  max-width: 388px !important;
}

.podcast-boxes .podcast-data{
  display: none;
}

.post-podcast-img{
  img{
    object-fit: cover;
    height: 115px!important;
  }
}

.page-content-area h5 {
  line-height: 1.3;
}

.posts-list .post .badge {
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  letter-spacing: -0.45px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-color: #DB3700;
  margin-bottom: 19px;
  font-family: 'gothambook';
  color: #FFF;
}

ol.breadcrumb li:hover {
  text-decoration: underline;
}

.block-content-without-sidebar .accordion{
  padding-top: 0;
}

.page-content-no-sidebar {
  p{
    text-align: justify;
  }
  img{
    height: auto;
    width: 1200px;
    object-fit: contain;
  }
}

.header-content-opportunities-full{
  max-width: 900px;
  padding-right:10px;
}

.sidebar-block--content p a {
  text-decoration: underline!important;
}

.breadcrumb-area{
  position: relative;
}

.page-content-area{
  line-height: 1.3;
}

.gallery-loadmore-btn.loading span {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
  display: inline-block;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.block-post-banner, .block-page-banner {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
  }

  > .header-content {
    position: relative;
  }
}

.slick-arrow.slider-arrow--left {
  padding: 10px 6px 10px 3px; 

  span.icon {
    transform: rotate(90deg);
    display: inline-block;
  }

  @include respond-to("xs") {
    left: calc(50% - 35px);
  }
}

.slick-arrow.slider-arrow--right {
  padding: 10px 3px 10px 6px;

  span.icon {
    transform: rotate(-90deg);
    display: inline-block;
  }

  @include respond-to("xs") {
    right: calc(50% - 35px);
  }
}

.slick-arrow.slider-arrow--left, .slick-arrow.slider-arrow--right {
  position: absolute;
  top: 40%;
  background-color: rgba(255, 255, 255, .5);
  display: flex;

  @include respond-to("xs") {
    top: unset;
    bottom: 0px;
  }
}

@include respond-to("sm") {
  .py-80 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@include respond-to("xs") {
  .links-slider {
    &.js-text-slider, &.js-links-slider {
      padding-bottom: 35px;
    }
  }
}

@media (min-width: 768px) and (max-width: 790px) {
  .slider-arrow--right.slick-next {
    right: 0;
  }

  .slider-arrow--left.slick-prev {
    left: 0;
  }
}

.default-horizontal-card--no-image {
  height: 200px;
  background-color: #000;

  img {
    width: 100%;
  }
}

.default-grid-card--no-image {
  height: 170px;
  background-color: #000;

  img {
    width: 100%;
  }

  @include respond-to("sm") {
    height: 217px;
  }
}

@include respond-to("sm") {
  .footer-widget-area {
    .footer-widget--links {
      h5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 12px 14px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        margin-bottom: 10px;

        &::after {
          content: "\e90b";
          display: inline-block;
          font-family: 'icomoon' !important;
          speak: never;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #FFF;
        }

        &.active::after {
          content: "\e90c";
        }
      }

      h5 + div {
        display: none;
      }

      ul {
        margin-bottom: 30px;
      }
    }
  }

  .footer-widget-area {
    padding-left: 0;
    padding-right: 0;
  }
}

.object-position {
  &-top {
    object-position: top;
  }

  &-center {
    object-position: center;
  }

  &-bottom {
    object-position: bottom;
  }
}

.btn-outline-dark:hover {
  opacity: 1;
  background-color: #000;
  border-color: #000;
}

.breadcrumb .breadcrumb-item:nth-child(2) {
  padding-left: 0;
}

body.research-template-default .research-single-post.header-banner--black {

  .page-header-block {
    background-color: #000;
  }

  .header-content {
    background-color: #000;

    h1, .reference-text {
      color: #FFF;
    }

    .addtoany_shortcode img {
      -webkit-filter: grayscale(1) invert(1);
      filter: grayscale(1) invert(1);
    }
  }

  header:not(.header-sticky)  .header-top {
    color: #FFF !important;

    .logo .logo--white {
      display: block;
    }

    .logo .logo--black {
      display: none;
    }
  }
  .content-list-squared{
    ul{
      padding-left:20px;
    }
  }
}

.block-page-header-single-post.sharer-white .addtoany_shortcode img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.page-id-163 .post-entry{
	border-bottom: none;
}

.btn-more-info{
  padding: 12px 12px;
}

.wider-sidebar .placement-aside {
  width: 520px;
}
.transcript-area{
  width: 92%;
  margin-left: auto;
  padding: 0;
}

.transcript-btn{
  appearance: none;
  background-image: url(images/bottom-white.svg);
  background-repeat: no-repeat;
  background-position: 97% 44%;
  border: 1px solid #535353;
  font-family: 'gothambook';
  letter-spacing: inherit;
}

.filter--form input[type="submit"] {
  background-color: #000 !important;
  position: relative;
  padding: 20px 45px;
  font-size: 24px;
  right: 0;
  transform: none;
  border: 0;

  &:hover {
    opacity: .6;
  }
}

.right-sidebar.push-top-lg2{
  margin-top: -370px;
}

.page-single-content table tr td {
  padding: 10px 20px;
}

.page-item.active .page-link {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.page-link:hover{
  color:var(--primary-color) !important;
}

.placement-content .accordion .card-header .btn, .questions-list.bg-white .accordion .card-header .btn {
  @include respond-to("sm") {
    font-size: 19px;
    letter-spacing: 0;
  }
}

.accordion .card-header .btn {
  @include respond-to("sm") {
    letter-spacing: 0;
  }
}

#acfta-mega-menu .sub-menu {
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
}

.grid-col-5{
  width: 20%;
}
.header-content h6{
  max-width: 500px;
}

.image-credit{
  font-family: 'gothambook';
  max-width: 500px;
}

.image-credit-full{
  position: absolute;
  right: 0;
  max-width: 500px;
  bottom: -20px;
}

.image-credit-sidebar{
  position: absolute;
  right: 12px;
  max-width: 500px;
  bottom: -20px;
}

.text-font-medium{
  font-family: 'GothamMedium'!important;
}

.footer-sidebar{
  .placement-aside{
    padding: 40px;
  }
}

span.submenu-icon.icon-plus-light {
  opacity: 1;
}

.acknowledgement--loading {
  overflow: hidden;

  .acknowledgement--backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: #000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .backdrop--loader {
      color: #FFF;
      font-size: 40px;
      -webkit-animation: spin 0.8s linear infinite;
      animation: spin 0.8s linear infinite;
    }
  }
}

.cards--featured-news {
  .card--featured {
    margin-bottom: 22px;

    a {
      margin-bottom: 0;
      height: 100%;
    }

    h2 {
      @include respond-to("lg") {
        font-size: 32px;
      }
    }

    .card--empty {
      .btn {
        @include respond-to("lg") {
          font-size: 19px;
        }
      }
    }
  }

  .card--tall {
    height: 820px;

    @include respond-to("lg") {
      height: 560px;
    }

    @include respond-to("xs") {
      height: 527px;
    }
  }
}

.btn-with-loader.loading span.icon-loader {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.filter--search-page {
  select {
    background-color: #FFF;
    border: 1px solid #979797;
  }

  label span.label-text {
    display: block;
    margin-bottom: 12px;
    font-weight: normal;
    text-transform: capitalize;
    font-family: 'gothambook';
  }

  input[type="text"], input[type="search"] {
    background-color: #FFF;
    border: 1px solid #979797;
  }
}

.posts-list .post.biographies .post-img,
.posts-list .post.stories .post-img {
  height: 400px;
  object-position: center;
}

.post-list .post.biographies,
.posts-list .post.stories {

  .default-grid-card--no-image {
    height: 400px;
  }

}

.posts-list .post.speeches-and-opinions .post-img {
  height: 300px;
  object-position: center;
}

.posts-list .post.speeches-and-opinions .default-grid-card--no-image {
  height: 300px;
}
.contact-frm-salesforce
{
  padding-right: 30px;
  .error{
    color:#CD0000;
  }
  input.error{
    border:1px solid #CD0000;
  }

  textarea.error{
    border:1px solid #CD0000;
  }

  input,select,textarea{
    margin-bottom: 0;
  }
}
.contact-frm-salesforce-btn{
  text-align: right;
  padding-right: 30px;
}

.breadcrumb--scroller {
  position: absolute;
  top: 0;
  right: 400px;
  height: 100%;
  background-image: linear-gradient(to left, black, transparent);
  padding: 0px 6px 0 60px;
  display: flex;
  align-items: center;
  z-index: 2;

  @include respond-to("sm") {
    padding: 0px 6px 0 40px;
  }

  span {
    transform: rotate(270deg);
    display: inline-block;
    font-size: 30px;
    cursor: pointer;

    @include respond-to("sm") {
      font-size: 20px;
    }
  }
}

.breadcrumb-container {
  nav {
    position: relative;
    overflow: hidden;

    .breadcrumb {
      position: relative;
      overflow: unset;
      left: 0;
    }
  }

  @include respond-to("xs") {
    &.mobile-space {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.light .breadcrumb--scroller {
    background-image: linear-gradient(to left, white, transparent);
  }
}

.placement-aside {
  position: relative;
  z-index: 2;
}

.our-team span {
  margin: 4px;
}

.text-required{
  color:#CD0000;
}


#acknowlegement-of-country-wrapper{
  .modal-dialog {
    margin: 200px auto;
    text-align: center;
  }
}

.footer-wrapper-acknowledgement .page-content {
  text-align: center;
  margin: 0 auto;
}

.filter-research-dropdown .multiselect-container li a input:first-child {
  width: 24px;
}

#acfta-mega-menu {
  li.have-submenu {
    position: relative;

    span.submenu-icon {
      position: absolute;
      right: 0;
      font-size: 18px;
      cursor: pointer;
      top: 5px;
    }
  }
}

.btn-partner-area{
  .btn-partner{
    padding: 15px;
    width: 212px;
    text-align: center;
    font-family: 'GothamMedium';
    letter-spacing: -0.2px;
  }
    width: 100%;
    margin: 20px auto;
}

.filtering-with-sidebar {
  .posts-list.alt .post:nth-child(4n+1) {
    border-left: 1px solid var(--border-color-lt);
  }

  .posts-list.alt .post:nth-child(3n+1):before {
      content: "";
      width: 200vw;
      position: absolute;
      border-top: 1px solid var(--border-color-lt);
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
  }
}
.col-megamenu-links{
  .col-inner-links{
    ul{
      li a{
        width: 250px;
      }
    }
  }
}  

.highlight-box::after, .event-box::after {
  height: 75%;
  background: linear-gradient(0deg, #000000 30%, rgba(0, 0, 0, 0) 100%);
}

.highlight-box:hover::after, .event-box:hover::after {
  opacity: 1;
  background: linear-gradient(0deg, #000000 15%, rgba(0, 0, 0, 0) 100%);
}

a.highlight-box h3 {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: .3s;

 /*add those for opera and mozilla support*/
 -webkit-text-decoration-color: transparent;
 -moz-text-decoration-color: transparent;
}

a.highlight-box:hover h3 {
  text-decoration-color: #FFF;
 
  /*add those for opera and mozilla support*/
  -webkit-text-decoration-color: #FFF;
  -moz-text-decoration-color: #FFF;
}

.tooltip-inner {
  border: solid 1px #CCC;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
  border-left-color: #CCC;
}

.mobile--keydates.placement-aside li:last-child {
  margin-left: 0;
  margin-right: 0;
} 

.accordion--expand-all {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  color: #FFF;
  background-color: #000;
  padding: 4px 12px;
  text-decoration: none !important;

  span {
    display: inline-block;
    margin-left: 20px;
  }

  &:hover {
    background-color:rgba(0, 0, 0, .98);
    color: #FFF;
  }
}

.document-box .document-info {
  width: 100%;
}

@media (min-width: 1200px) {
  .footer-wrapper-acknowledgement .page-content {
    max-width: 680px;
  }
  .block-page-banner-v3{
    .breadcrumb--scroller span{
      display: none;
    }
  }
}

.our-team .box-feat-content{
  position: absolute;
  right: 0;
  font-size: 24px;
  top: 6px;
}

.closing-text{
  width: 70%;
}

.block-media-post-content{
  center{
    img{
      height:auto;
    }
  }
}

.research-template-default{
    #acfta-mega-menu-row{
      top:90px!important;
  }
}

.research-nav-link{
  padding:0;
  margin: 0;
  li{
    a{
      font-weight: 600!important;
    }
  }
}

.breadcrumb-container-nav{
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.14) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14) !important;
}

.font-book {
  font-family: 'gothambook' !important;
}

.search-no-results .screen-reader-text {
  position: relative;
  height: auto;
  width: auto;
  clip-path: none;
}

.masonry-gallery-modal button.close {
  position: absolute;
  right: 45px;
  top: 45px;
  font-size: 50px;
}

.masonry-gallery-modal .modal-dialog .modal-content {
  padding-top: 100px;
  padding-bottom: 50px;
}

/***********************************************
 * Start: Moving from Customize.php - by Angus
 **********************************************/
.footer-copy p {
  color: #fff!important;
}


#acknowlegement-of-country-wrapper .modal-lg .modal-content,
#search-wrapper .modal-content{
background: transparent;

}

#acknowlegement-of-country-wrapper .modal-header,
#search-wrapper .modal-header{
border: none;
}
#acknowlegement-of-country-wrapper .modal-lg .modal-content *{
color: #fff;
}

.wrapper .wrapper-inner {
  max-width: 100%;
}
#filterFields .search-btn{
  margin-top: 40px;
  padding: 23px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 20px;
}
.btn-login{
border-width: 1px;
}

.btn-reset.menu-toggle{
    margin: 10px 14px 10px 10px;
}
#acfta-mega-menu h4{
text-transform: none !important;
}

#search-wrapper .modal-content input{
background: transparent;
color: #fff;
}
#search-wrapper .modal-content input::placeholder{ 
color: #fff;
}
#search-wrapper .close{
color: #fff;
opacity: 1;
font-weight: lighter;
}

#acfta-mega-menu{
  padding: 100px 100px 200px !important; 
  /*position: absolute;
  width: 100%;
  height: 100%;
  display: block !important;
  background: #000;
  
  color: #fff;
  z-index: 9999;*/
}
#acfta-mega-menu-row{
margin-top: 55px;
}
#acfta-mega-menu-row .close{
display: none;
}
#acfta-mega-menu .col-auto{
padding-bottom: 200px;
}
#acfta-mega-menu h4{
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  margin-bottom: 20px;
}


@media screen and (max-width:600px){

#acknowlegement-of-country-wrapper .modal-dialog {
  margin: 28px;
 
}
.header-top .btn-login{
  display: none;
}
}



.highlight-box,
.event-box{
background-color: #000;
}
.event-box .meta{
font-size: 16px;
}
.event-box *{
line-height: 1.1 !important;

}

.grid-item img {
  width: 100%;
  height: auto;
}
.highlights-section h2{
border: none;
}

body .py-80.block-column-content-options .justify-content-sm-center{
    -ms-flex-pack: left !important;
   justify-content: left !important;
}

#content-side-menu-block_60da86e7297c7 table td{
width: 50% !important;
align-content: top !important;
vertical-align: top;
}
#content-side-menu-block_60da86e7297c7 table td li{
border-bottom: 1px solid #eee;
line-height: 1.3;		
padding:10px 0;
}
#content-side-menu-block_60da86e7297c7 table td li,
#content-side-menu-block_60da86e7297c7 table td ul{
list-style: none;
padding-left: 0;
padding-right: 10%;

}
.py-80.block-column-content-options img{
width: 100%;
height: auto;
}

.iframe-video-wrap-3-col iframe {
max-width: 100%;
  height: 260px;
}

.card-img-showcase img{
object-fit: cover;
}
.right-sidebar img{
height: auto;
}

#table15398-0 td{
width:50%;
border:1px solid #eee;
padding: 10px 20px;
vertical-align: top;
}


blockquote {
  padding: 60px 40px;
  margin:65px 0;
}

.header-top .icon-plus-light{
opacity: 0;
}


.list-unstyled li{
list-style: none !important;
}
.list-unstyled li::marker{
display: none !important;
}
.list-unstyled:not(#menu-main-menu) li:last-child{
margin-bottom: 0 !important;
}


.right-sidebar li::marker{
line-height: 1 !important;
}
.video-wrap{
margin-bottom: 60px;
}
#content-side-menu-block_60b50ee550ac5{
border-bottom:1px solid #000;
}
#content-side-menu-block_60b50ee550ac5 .border-right{
  margin-bottom: -48px;
  padding-bottom: 100px;
}


.our-ceo-v2 .right-sidebar.push-top-md {
  margin-top: 25px;
}

.single-media-release h1{
margin-bottom: 50px;
}



.postid-2327 .upcoming-webinars{
border-top: none;
}
.page-content-area {
  line-height: 1.7;
}
.parent-pageid-2291 .selects-section,
.page-id-12446 .selects-section{
border-top: 0;
}
.single.single-cpt_news h1{
margin-bottom: 40px;
}
.single.single-cpt_news .header .btn-category.btn{
    font-size: 14px;
padding: 9px 10px;
}
.single.single-cpt_news .rt-label,
.selects-section input, .event-box .meta span{
font-family: 'gothambook' !important;
}
.event-box h2 {
  font-size: 40px;
  letter-spacing: -2px !important;
  margin-bottom: 137px;
  line-height: 1 !important;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

@media screen and (max-width:1890px) and (min-width:1620px){
.header-top{
  padding-right: 18px;
}
.single.single-cpt_news h1{
margin-bottom: 120px;
}
}
@media screen and (max-width:680px){
  .filter-form .align-items-center.mb-2{
    padding: 15px;
    border: 1px solid #000;
  }
  .pb-5, .py-5 {
    padding-bottom: 6px !important;
  }
  .loading-pagination,
  .loading-pagination .col{
    padding: 0 !important;
  }

  .loading-pagination .text-center{
    padding:0 30px;
  }
}

.single-research .loading-pagination{
margin-bottom:50px;
}

@media (min-width: 992px){
  .single-investment .social-share-block .row .col{
  flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .alert-covid span {
    max-width: 70%;
    line-height: 1.3;
  }	
}

.event-box.lg {
  height: 1024px;
}
.event-box.sm {
  min-height: 500px;
}
.event-box .event-info .badge {
 
  padding: 6px 8px;
font-size: 14px;}

.breadcrumb > .breadcrumb-item:nth-child(2){
padding-left: 0 !important;
margin: 0 !important;
}
@media screen and (max-width: 575px){
  .mobile-space {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px){
  .breadcrumb {
  left:0 !important;
  }
  .video-section{
    padding-bottom:0;
  }
  .alert-covid span{
    line-height: 1.1;
  }

  header .row{
    margin-right: 4px;
    margin-left: 12px;
  }
}

section#content-side-menu-block_60e031c67fcde .col-xl-3 img{
    height: auto;
}


.page-id-14583 td{
border: 0.5px solid #000;
}
/***********************************************
 * END: Moving from Customize.php - by Angus
 **********************************************/

 .faciliator-modal .modal-nav2{
  padding-top: 20px;
  font-size: 35px;
}

.page-content .job-list-container{
  .exp-app{
    display: none;
  }
}

/* The Masonry Modal (background) */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:rgba(11,11,11,0.6);
  z-index: 10;
 
  .close {
    color: white;
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 65px;
    font-weight: bold;
    opacity: 1!important;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
}

/* Modal Content */
.modal-content2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 30px 0px;
  width: 100%;
  max-width: 1000px;
}


/* Hide the slides by default */
.masonrySlides {
  display: none;
  text-align:center
}

.masonrySlides img{
    height: 458px;
    width: auto;
}

.grid-item, .masonry-img-gallery img:hover{
    cursor:pointer;
}

/* Next & previous buttons */
.prevGal,
.nextGal {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color:rgba(255, 255, 255, 0.8);;
}

/* Position the "next button" to the right */
.nextGal {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevGal:hover,
.nextGal:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color:#fff;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feed-item {
  .card {
    max-width: 100%;
    padding: 0;
    box-shadow: none;
    margin-top: 0;
  }

  .img-text-box {
    img {
      @include respond-to("min-sm") {
        width: 100%;
      }
    }
  }
}

.feed-hidden {
  display: none;
  opacity: 0;
}

.img-text-slider .slick-dots > li > button {
  opacity: 0.4;
}

form.post-password-form {
  padding-top: 32vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

form.post-password-form> p {
  max-width: 480px;
  width: 100%;
  text-align: center;

  label {
    text-align: left;
  }
}

form.post-password-form input[type="submit"] {
  display: inline-block;
  border: 0;
  background-color: #000;
  color: #FFF;
  height: 64px;
  position: relative;
  top: -1px;
  padding: 0 30px;

  @include respond-to('sm') {
    height: 54px;
  }
}

form.post-password-form input[type="submit"]:hover {
  opacity: .8;
}

form.post-password-form input[type="password"] {
  border: 1px solid #000;
  background-color: transparent;

  @include respond-to('sm') {
    margin-bottom: 0;
  }
}

form.post-password-form::before {
  content: "Enter the password to continue";
  font-size: 34px;
  letter-spacing: -2.78px;
  line-height: 1.2;
  margin-bottom: 18px;
  font-family: 'GothamMedium';
  max-width: 480px;
  width: 100%;
  text-align: center;

  @include respond-to('sm') {
    font-size: 32px;
  }
}

.h-banner-carousel{
    .slick-dots{
      width: 50%;
      justify-content: flex-start;
      position: absolute;
      left: 5.5%;
      top: 94%;
      z-index: 100;
  }
}

div.a2a_full_footer a {
  display: none!important;
}